PORT=8080
APP_ENV=local

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_NAME=goaland
POSTGRES_SSLMODE=disable

FOOTBALL_DATA_BASE_URL=http://api.football-data.org/v4
FOOTBALL_DATA_API_TOKEN=44632f2b57534cfa9e90159bbb90d969